<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>365505565010-p07dg60m4ckrcnn1uh1t3lupvm79e88d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.365505565010-p07dg60m4ckrcnn1uh1t3lupvm79e88d</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>365505565010-bh6hhceo9e97212on3a1pig9gbodlnm1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBl9tNnyo_0x4a12Ev6UF2EBOPNaBz6NOI</string>
	<key>GCM_SENDER_ID</key>
	<string>365505565010</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.an.homelyy.homelyy</string>
	<key>PROJECT_ID</key>
	<string>homelyy</string>
	<key>STORAGE_BUCKET</key>
	<string>homelyy.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:365505565010:ios:763f736701a560dc0c6a8b</string>
</dict>
</plist>